<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      NLP Match #<%= @association.id %> Details
    </h1>

    <div class="row mb-3">
      <div class="col">
      <form action="/update_association/<%= @association.id %>" method="post">
        
        Confirm? <%= check_box_tag :confirm , 1 , @association.confirm ? true : false %>
        
        <button class="btn btn-block btn-outline-secondary">
        Update
        </button>
      </form>
      </div>
    </div>
      
    <dl>
      <dt>
        Last Name
      </dt>
      <dd>
       <%= @association.lname %>
      </dd>
      <dt>
        First Name
      </dt>
      <dd>
        <%= @association.fname %>
      </dd>
      <dt>
        Request ID
      </dt>
      <dd>
        <%= @association.request_id %>
      </dd>
      <dt>
        Request Date
      </dt>
      <dd>
          <% if @association.req_date != nil %>
          <%= @association.req_date.to_date.strftime("%m/%d/%Y") %>
          <% end %>
      </dd>
      <dt>
        Request Title
      </dt>
      <dd>
        <%= @association.req_title %>
      </dd>
      <dt>
        PubMED ID
      </dt>
      <dd>
        <%= @association.publication_id %>
      </dd>
      <dt>
        PubMED Title
      </dt>
      <dd>
        <%= @association.pubmed_title %>
      </dd>
      <dt>
        PubMED Narrative
      </dt>
      <dd>
        <%= @association.pubmed_narrative %>
      </dd>
      <dt>
        Similarity score
      </dt>
      <dd>
        <%= @association.similar_score %>
      </dd>

    </dl>
        <div class="col">
        <a href="/associations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>
  </div>
</div>


