<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All publications
    </h1>

    <a href="/publications/new" class="btn btn-block btn-outline-secondary">
      Add a new publication
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Pubmed
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @publications.each do |publication| %>
      <tr>
        <td>
          <%= publication.id %>
        </td>

        <td>
          <%= publication.user_id %>
        </td>

        <td>
          <%= publication.pubmed_id %>
        </td>

        <td>
          <%= time_ago_in_words(publication.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(publication.updated_at) %> ago
        </td>

        <td>
          <a href="/publications/<%= publication.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
