<div class="row mb-3">
  <div class="col-md-10">
    <h1>
      All Publications
    </h1>

  </div>
</div>

<div class="row mb-3">
  <div class="col-md-10">
    <table class="table">
      <tr>
        <th>
          PubMED ID
        </th>

        <th>
          Customer
        </th>

        <th>
          PubMED Date
        </th>

        <th>
          PubMED Title
        </th>
      </tr>

      <% @publications.each do |publication| %>
      <tr>
        <td>
          <%= publication.id %>
        </td>

        <td>
            <%= Customer.find_by(id: publication.customer_id).lname %>,
            <%= Customer.find_by(id: publication.customer_id).fname %>
        </td>

        <td>
          <%= publication.pubmed_date.strftime("%m/%d/%Y") %>
        </td>

        <td>
          <%= publication.pubmed_title %>
        </td>
        
        <td>
          <a href="/publications/<%= publication.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
