<div class="row mb-3">
  <div class="col-md-10">
    <h1>
      All Customers
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-10">
    <table class="table">
      <tr>

        <th>
          Last Name
        </th>

        <th>
          First Name
        </th>

        <th>
          Username
        </th>

        <th>
          Email
        </th>
        
        <th>
        </th>
      </tr>

      <% @customers.each do |customer| %>
      <tr>

        <td>
          <%= customer.lname %>
        </td>

        <td>
          <%= customer.fname %>
        </td>

        <td>
          <%= customer.username %>
        </td>

        <td>
          <%= customer.email %>
        </td>

        <td>
          <a href="/customers/<%= customer.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
